body {
    background-image: url('images/titans.jpg');
    color: #FFFFFF;
    background-size: cover;
    text-align: left;
    vertical-align: bottom;
    text-shadow: #00000;
}

.button {
    background-color: #000000;
    border-style: solid;
    border-color: coral;
    border: 15px;
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 5px 5px;
    cursor: pointer;
}

div {
    padding-left: 20px;
    padding-right: 20px;
}

.active {
    background-color: #11FF55;
    border-style: solid;
    border-color: coral;
    border: 15px;
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 5px 5px;
    cursor: pointer;
}