body {
    background-image: url('images/zombies.jpg');
    color: #FFFFFF;
    background-size: cover;
    text-align: left;
    vertical-align: bottom;
    text-shadow: #00000;
}
.button {
    background-color: #ff1111;
    border: 2px solid #ffffff;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 50%;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24), 0 17px 50px 0 rgba(255,255,255,0.19);
}

div {
    padding-left: 20px;
    padding-right: 20px;
}

.active {
    background-color: #009977;
    border: 2px solid #ffffff;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 5px 5px;
    cursor: not-allowed;
    border-radius: 50%;
}